
<!-- Show Property Value -->
<!-- InterPolation {{}} -->
<!-- <h1>Hello Front,{{title}}</h1> -->
<app-nav class="col-sm-12"></app-nav>
<div class="container-fluid">
  <div class="row">
    <!-- <app-sidebar class="col-lg-2" style="height:100vh ;"></app-sidebar>
    <app-header class="col-lg-4"></app-header> -->
    <!-- <app-home  class="col-lg-4"><h1>{{sayHello()}}</h1></app-home> -->


    <app-products class="col-lg-12"></app-products>
  </div>
</div>
<app-footer class="col-sm-12"></app-footer>

