<!-- Interpolation -->
<!--  -->
<div class="home text-center" > 

    <!-- <h1>{{storeInfo.Name}}</h1>

    <h2>id: {{storeInfo.id}}</h2>

    <h3>{{storedata.name}}</h3> 

    <img *ngIf="showImg" src="{{storeInfo.Img}}" width="100px ">

    <p *ngIf="!showImg" style="font-size: 20px;">This is a {{storeInfo.Name}}</p>

    -->

    <!-- *ngFor like for of -->

    <!-- <ul> -->

        <!-- <li *ngFor="let loc of storeInfo">{{loc}}</li> -->

    <!-- </ul> -->
    
    <!-- <button class="btn btn-warning" (click)="toogleImg()">Toggle Image</button>
    
    <h3 *ngIf="!showDisc" >We Offer Discount of {{storeInfo.Quantity}} </h3> -->

</div>

<!-- Day 2 -->
<div class="home text-center" >

   <!--  <img *ngIf="showImg" [src]="storeInfo.Img" width="100px ">  Property Binding  -->

    <!-- property binding -->
    <!-- One Way Binding -->
    <!-- <input type="text" class="form-control" name=" username" id="username" [value]="customerFeedback" > -->


    <!-- Two Way Binding -->
    <!-- <input type="text" class="form-control" name="username" id="username" [(ngModel)]="customerFeedback" > -->

    <!-- <p>For Test {{customerFeedback}}</p> -->
</div>  